{% extends 'layout.html' %}
{% block content %}
<h1>アップグレードするユーザーを選択</h1>
{% with messages=get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for cate, mess in messages %}
<div class="{{ cate }}">{{mess}}</div>
{% endfor %}
{% endif %}
{% endwith %}
<a href="/sp-service/sp-admin/user" class="btn btn-info">ユーザーリストに戻る</a>
<form action="/sp-service/sp-admin/user/upgrade" method="post">
<div class="form-group">
<select class="form-control" name="type">
<option value="tmp">Tmporary</option>
<option value="normal">Normal</option>
<option value="sp">SP</option>
<option value="admin">Administration</option>
</select>
<div class="table-responsive">
<table class="table table-striped table-bordered">
<thead>
<tr><th>番号</th><th>ユーザー名</th><th>ハンドル名</th><th>パスワードソルト</th><th>色</th><th>タイプ</th><th>アップグレード</th></tr>
</thead>
<tbody>
{% for user in users %}
<tr><td>{{user[0]}}</td><td>{{user[1]}}</td><td>{{user[2]}}</td><td>{{user[3]}}</td><td>{{user[4]}}</td><td>{{user[5]}}</td><td><div class="form-check"><input class="form-check-input" type="checkbox" name="upgrade" value="{{user[0]}}"></div></td></tr>
{% endfor %}
</tbody>
</table>
</div>
<button type="submit" class="btn btn-primary">アップグレード</button>
</form>
</div>
{% endblock %}
