{% extends 'layout.html' %}
{% block content %}
<h1 class="text-center">Welcome to SP service!!</h1>
<hr>
<div class="text-center">
このサイトは<br>SPメンバーへ掲示板などのサービスを提供するサイトです。<br>まだ一部英語ですが、せいぜい楽しんでいってください。<br>バグ報告はお問い合わせまで。
</div>
{% endblock %}
